@use 'font' as *; 

.center {
    margin: 0 auto;
}
.firstRow, .secondRow {
    display: flex;
    p {
        width: 12.5rem;
        line-height: 1.8;
        padding: .625rem;
        margin: auto 0;
    }
}

.aboutPic {
    width: 12.5rem;
    height: 12.5rem;
    object-fit: contain;
}



.line.bottom {
    height: 3rem;
    margin: 2rem auto;
    
}



#about, #hobby {
    p,li {
        font-size: .88rem;
    }
}

.workBtn {
    text-transform: capitalize;
    font-family: $titleFont;
    text-decoration: none;
    font-weight: 700;
    background-color: black;
    padding: .5rem 2.5rem;
    color: white;
    border-radius: 5px;
    
}

.contentWrap {
  padding: 0 3.125rem;
  line-height: 1.8;
  
}

.uppercase {
    text-transform: uppercase;
}

.highlightContain {
    display: flex;
    position: relative;
    justify-content: center;
    height: 4rem;
    width: 100%;
    align-items:end
}

h2.uppercase {
    text-align: center;
    padding: 0 10px;
    margin: 0;
    position: relative;
    margin-left: -13%;
   
    
}



.highlight {
    position: absolute;
   
    background: linear-gradient(
        to bottom, 
        transparent 50%, 
        #C4C9A5 50%
    );
}