@use 'normalize';
@use 'font' as *; 
@use 'homepage';
@use 'navbar';
@use 'about';
@use 'footer';
@use 'work'; 
@use 'contact';
@use 'single';

body {
    font-family: $bodyFont;
    
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: $titleFont;
    font-weight: 600;
}



.center {
    text-align: center;
}

.mainColor {
    background-color: #C4C9A5;
    border: #C4C9A5;
}

.blueColor {
    background-color: #88B5DF;
    border: #88B5DF;
}

.lineHeight {
    line-height: 1.8;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer {
    margin-top: auto; 
}

